---
import siteData from '../config/site.json';
import { FaCheckCircle } from 'react-icons/fa';
const { differential } = siteData;
---

<section class="py-16 bg-white">
	<div class="relative bg-center bg-cover py-40 rounded-[40px] mx-6 overflow-hidden md:mx-0 md:rounded-none md:py-16" style={`background-image: url('/images/diff_banner.png');`}>
		<div class="absolute inset-0 bg-gradient-to-b from-primary/80 to-slate-900/90"></div>
		
		<div class="container relative z-20">
			<div class="bg-white p-16 rounded-[30px] shadow-2xl max-w-3xl border-l-[10px] border-secondary md:p-10 md:mx-auto md:text-center md:border-l-0 md:border-t-[10px]">
				<h2 class="text-5xl font-extrabold text-primary mb-10 md:text-3xl">
					{differential.title}
				</h2>
				
				<ul class="space-y-6">
					{differential.bullets.map((bullet) => (
						<li class="flex items-center gap-5 text-xl font-medium text-gray-700 md:text-lg md:justify-center">
							<FaCheckCircle class="text-primary shrink-0" size={24} />
							<span>{bullet}</span>
						</li>
					))}
				</ul>
			</div>
		</div>
	</div>
</section>
